<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastramento e Listagem de Venda</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <style>
      body {
        font-family: cursive;
        margin-bottom: 70px;
      }

      h1 {
        margin-top: 20px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      #btnincluirproduto {
        margin-top: 20px;
      }

      .table {
        margin-top: 20px;
      }

      #totalgeral {
        font-weight: bold;
      }

      #btnsalvar {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <header th:include="fragmentos::topo"></header>
    
      <form enctype="multipart/form-data" method="post" th:action="@{/venda/salvar}" th:object="${venda}"></form>
      <h1>Cadastro da venda</h1>

      <div class="form-outline form-white mb-4" style="display:none;">
        <label for="txtcodigo">Código</label>
        <input readonly type="text" class="form-control" id="txtcodigo" aria-describedby="emailHelp" placeholder="">
      </div>

      <div class="form-group">
        <input id="datePicker" type="date" readonly>
      </div> 

      <div class="form-group">
        <label for="id_cliente">Cliente Comprador:</label>
        <select class="form-control" id="id_cliente">
          <option value="">Selecione um cliente:</option>
          <option
            th:each="item:${listacliente}"
            th:value="${item.id}"
            th:text="${item.nome}"
          ></option>
        </select>
      </div>

      <div class="form-group">
        <label for="id_produto">Produto:</label>
        <select class="form-control" id="id_produto">
          <option value="">Selecione um produto</option>
          <option
            th:each="item:${listaproduto}"
            th:value="${item.id}"
            th:text="${item.descricao}"
          ></option>
        </select>
      </div>

      <div class="row">
        <div class="col-4">
          <input
            value="1"
            type="number"
            id="txtquantidade"
            placeholder="Insira a quantidade de produtos"
            class="form-control"
          />
        </div>
        <div class="col-4">
          <a id="btnincluirproduto" class="btn btn-primary" href="#">
            Incluir produto
          </a>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody id="dadosTabela"></tbody>
      </table>

      <table style="display: none">
        <tr id="linhaModelo">
          <td class="codigo"></td>
          <td class="descricao"></td>
          <td class="quantidade">
            <select class="qntdproduto">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
          <td class="valorunitario"></td>
          <td class="total"></td>
          <td class="totalinput">
            <input class="totalnumber" type="hidden" />
          </td>
          <td class="btn btn-danger" style="background-color: red;">
            <a href="#" class="btnexcluir">Excluir</a>
          </td>
        </tr>
      </table>

      <h3>Total Geral: <span id="totalgeral"></span></h3>
      <button id="btnsalvar" class="btn btn-primary">Realizar Venda</button>
    </form>
 
    <div th:include="fragmentos::rodape"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#btnincluirproduto").click(function () {
          incluirProduto();
        });

        $("#btnsalvar").click(function () {
          finalizarVenda();
        });
      });

      $(document).ready(function() {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
        $('#datePicker').val(today);
    });

      function incluirProduto() {
        var linha = $("#linhaModelo").clone();
        linha.attr("id", "");

        var id = $("#id_produto").val();

        $(linha).find(".codigo").text($("#id_produto").val());
        $(linha)
          .find(".descricao")
          .text($("#id_produto option:selected").text());
        buscarProduto(id, linha);
      }

      function buscarProduto(id, linha) {
        $.get(
          "http://localhost:8080/produto/getProduto/" + id,
          function (resultado) {
            var qtde = $("#txtquantidade").val();

            $(linha).find(".valorunitario").text(resultado.preco);
            $(linha)
              .find(".totalnumber")
              .val(resultado.preco * qtde);
            $(linha)
              .find(".total")
              .text(resultado.preco * qtde);
            $(linha).find(".qntdproduto").val($("#txtquantidade").val());
            $(linha)
              .find(".qntdproduto")
              .change(function () {
                alterarProduto(linha);
              });
            $(linha)
              .find(".btnexcluir")
              .click(function () {
                excluirProduto(linha);
              });

            $("#dadosTabela").append(linha);
            calcularTotal();
          }
        );
      }

      function alterarProduto(linha) {
        var valorunitario = $(linha).find(".valorunitario").text();
        var qtde = parseFloat($(linha).find(".qntdproduto").val());
        $(linha)
          .find(".total")
          .text(valorunitario * qtde);
        $(linha)
          .find(".totalnumber")
          .val(valorunitario * qtde);
        calcularTotal();
      }

      function calcularTotal() {
        var total = 0;

        $("#dadosTabela tr").each(function (index, elemento) {
          var valor = $(elemento).find(".totalnumber").val();
          total = parseFloat(total) + parseFloat(valor);
        });

        $("#totalgeral").text(total);
      }

      function excluirProduto(linha) {
         $(linha).remove();
			   calcularTotal();
      }

      function finalizarVenda() {
        var venda = {
         id: $("#txtcodigo").val(),
         dataVenda: $("#datePicker").val(),
          idCliente: $("#id_cliente").val(),
          produtos: []
          }; 

  $("#dadosTabela tr").each(function() {
    var linha = $(this);
    var produto = {
      codigo: linha.find(".codigo").text(),
      nome_produto: linha.find(".descricao").text(),
      qtde: linha.find(".qntdproduto").val(),
      valor_unitario: linha.find(".valorunitario").text(),
      total: linha.find(".total").text()
    };

    venda.produtos.push(produto);
  });
    console.log(venda);
  $.ajax({
    type: "POST",
    url: "http://localhost:8080/venda/salvar",
    data: JSON.stringify(venda),
    contentType: "application/json",
    success: function(response) {
         window.location.href = "resumo_venda?id=" + response;
    },
        error: function(error) {
      alert("O produto não está mais em estoque!");
    }
  });
}


    </script>
  </body>
</html>
