<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastramento e Listagem de Venda</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <header th:include="fragmentos::topo"></header>
    <main>
      <h1 style="font-family: cursive">Cadastro da venda</h1>

      <div class="form-group">
        <label for="idCliente">Cliente Comprador:</label>
        <select class="form-control" id="idCliente">
          <option value="">Selecione um cliente:</option>
          <option
            th:each="item:${listacliente}"
            th:value="${item.id}"
            th:text="${item.nome}"
          ></option>
        </select>
      </div>

      <div class="form-group">
        <label for="idProduto">Produto:</label>
        <select class="form-control" id="idProduto">
          <option value="">Selecione um produto</option>
          <option
            th:each="item:${listaproduto}"
            th:value="${item.id}"
            th:text="${item.descricao}"
          ></option>
        </select>
      </div>

      <div style="margin: 20px" class="row">
        <div class="col-4">
          <input
            value="1"
            type="number"
            id="txtquantidade"
            placeholder="insira a quantidade de produtos"
            class="form-control"
          />
        </div>
        <div class="col-4">
          <a id="btnincluirproduto" class="btn btn-primary" href="#">
            Incluir venda de produto
          </a>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody id="dadosTabela"></tbody>
      </table>

      <table style="display: none">
        <tr id="linhaModelo">
          <td class="codigo"></td>
          <td class="descricao"></td>
          <td class="quantidade">
            <select class="qntdproduto">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
          <td class="valorunitario"></td>
          <td class="total"></td>
          <td class="totalinput">
            <input class="totalnumber" type="hidden" />
          </td>
          <td class="btn btn-danger" style="background-color: red;">
            <a href="#" class="btnexcluir">Excluir</a>
          </td>
        </tr>
      </table>
      <h3>Total Geral <span id="totalgeral"></span></h3>
      <button id="btnsalvar">Salvar</button>
    </main>
    <footer th:include="fragmentos::rodape"></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#btnincluirproduto").click(function () {
          incluirProduto();
        });

        $("#btnsalvar").click(function () {
          finalizarVenda();
        });

      });

      function incluirProduto() {
        var linha = $("#linhaModelo").clone();
        linha.attr("id", "");

        var id = $("#idProduto").val();

        $(linha).find(".codigo").text($("#idProduto").val());

        $(linha)
          .find(".descricao")
          .text($("#idProduto option:selected").text());
        buscarProduto(id, linha);
        /*
        $(linha).find(".qntdproduto").val($("#txtquantidade").val());

        //alterando a qtde do produto
        $(linha)
          .find(".qntdproduto")
          .change(function () {
            alterarProduto(linha);
          });

        $(linha)
          .find(".btnexcluir")
          .click(function () {
            excluirProduto(linha);
          });

        $("#dadosTabela").append(linha);*/
      }

      function buscarProduto(id, linha) {
        $.get(
          "http://localhost:8080/produto/getProduto/" + id,
          function (resultado) {
            var qtde = $("#txtquantidade").val();
            console.log(resultado);
            $(linha).find(".valorunitario").text(resultado.preco);
            $(linha)
              .find(".totalnumber")
              .val(resultado.preco * qtde);
            $(linha)
              .find(".total")
              .text(resultado.preco * qtde);
            $(linha).find(".qntdproduto").val($("#txtquantidade").val());
            $(linha)
              .find(".qntdproduto")
              .change(function () {
                alterarProduto(linha);
              });
            $(linha)
              .find(".btnexcluir")
              .click(function () {
                excluirProduto(linha);
              });

            $("#dadosTabela").append(linha);
            calcularTotal();
          }
        );
      }

      function alterarProduto(linha) {
        console.log(linha);
        var valorunitario = $(linha).find(".valorunitario").text();
        var qtde = parseFloat($(linha).find(".qntdproduto").val());
        $(linha)
          .find(".total")
          .text(valorunitario * qtde);
        $(linha)
          .find(".totalnumber")
          .val(valorunitario * qtde);
        calcularTotal();
      }

      function calcularTotal() {
        var total = 0;

        $("#dadosTabela").each(function (index, elemento) {
          var valor = $(elemento).find(".totalnumber").val();

          total = parseFloat(total) + parseFloat(valor);
        });

        $("#totalgeral").text(total);
      }

      function salvarProduto() {
        var produto = {
          id: $("#idProduto").val(),
          descricao: $("#idProduto option:selected").text(),
        };

        var model = {
          id: "null",
          produto: produto,
          qtde: $("#txtquantidade").val(),
        };

        $.ajax({
          type: "POST",
          url: "http://localhost:8080/venda/salvarProduto",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(model),
          dataType: "json",
          success: function (jsonResult) {
            console.log(jsonResult);
            var linhaclone = $("#linhaexemplo").clone();
            $(linhaclone).css("display", "block");
            $(linhaclone).find(".codigo").text(jsonResult.id);
            $(linhaclone).find(".descricao").text(jsonResult.descricao);
            $("#dadosTabela").append(linhaclone);
          },
          failure: function (response) {
            alert("Erro ao carregar os dados: " + response);
          },
        });
      }

      function excluirProduto(linha) {
         $(linha).remove();
			   calcularTotal();
      }

      function finalizarVenda() {
        var idCliente = $("#idCliente").val();
        var produtos = [];

        $("#dadosTabela").each(function () {
          var codigo = $(this).find(".codigo").text();
          var quantidade = $(this).find(".qntdproduto").val();

          var produto = {
            id: codigo,
            qntd: quantidade,
          };
          produtos.push(produto);
        });

        var venda = {
          idCliente: idCliente,
          produtos: produtos,
        };

        $.ajax({
          type: "POST",
          url: "http://localhost:8080/venda/finalizarVenda",
          contentType: "application/json",
          data: JSON.stringify(venda),
          success: function (response) {
           alert("Venda finalizada com sucesso!");
           window.location.reload();
          },
          error: function (xhr, status, error) {
            console.log("Erro ao finalizar a venda:", error);
            alert("Ocorreu um erro ao finalizar a venda. Por favor, tente novamente.");
          },
        });
      }
    </script>
  </body>
</html>
