<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Produto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        main {
            overflow-y: scroll;
        }
        body{
            margin-bottom: 70px;
        }
        h1 {
            font-family: cursive;
        }
    </style>
</head>
<body>
    <header th:include="fragmentos::topo"></header>

    <main>
        <form enctype="multipart/form-data" th:action="@{/produto/salvar}" th:object="${produto}" method="post" class="container">
            <h1>Cadastro de Produto</h1>
            <div class="mb-3">
                <label for="idCategoria" class="form-label">Categoria:</label>
                <select class="form-select" id="idCategoria" th:field="*{categoria.id}">
                    <option value="">Selecione uma categoria</option>
                    <option th:each="item:${listacategoria}" th:value="${item.id}" th:text="${item.descricao}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="idFornecedor" class="form-label">Fornecedor:</label>
                <select class="form-select" id="idFornecedor" th:field="*{fornecedor.id}">
                    <option value="">Selecione um Fornecedor</option>
                    <option th:each="item:${listafornecedor}" th:value="${item.id}" th:text="${item.nome}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <input type="text" id="descricao" th:field="*{descricao}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="preco" class="form-label">Preço:</label>
                <input type="text" id="preco" step="0.01" th:field="*{preco}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade:</label>
                <input type="text" id="quantidade" step="1" th:field="*{qntd}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="file" class="form-label">Imagem:</label>
                <input type="file" id="file" name="file" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <div th:if="${retorno} !=null" class="container mt-3">
            <div th:if="${retorno}" class="alert alert-success" th:text="${mensagem}"></div>
            <div th:if="!${retorno}" class="alert alert-danger" th:text="${mensagem}"></div>
        </div>
    </main>

    <footer th:include="fragmentos::rodape"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
